---
layout: default
---

{%-include back_link.html-%}

<article itemscope itemtype="https://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ page.title }}</h1>
    
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: site.theme_config.date_format }}
      </time>
      <meta itemprop="author" content="{{ page.author | default: site.author }}">
    </p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  {%- include related_links.html category=page.category tags=page.tags -%}
</article>

{%- include schema/article.html -%}
{%- include schema/breadcrumb.html -%}